.alert {
    display: flex;
    align-items: center;
    border: 1px solid;
    border-radius: $radius--md;
    font-weight: 600;
    padding-left: 0.813em;

    &__icon {
        padding: 0.813em;
        padding-left: 0;
        line-height: 0;
    }

    &__message {
        padding-top: 1rem;
        padding-bottom: 1rem;
        font-size: 1rem;
    }

    &__close-btn {
        padding: 0.813em;
        line-height: 0;
    }

    &--info {
        @extend .alert;
        background-color: var(--color__blue--100);
        border-color: var(--color__blue--200);
        color: var(--color__blue--700);
    }

    &--success {
        @extend .alert;
        background-color: var(--color__green--100);
        border-color: var(--color__green--200);
        color: var(--color__green--700);
    }

    &--warning {
        @extend .alert;
        background-color: var(--color__yellow--100);
        border-color: var(--color__yellow--200);
        color: var(--color__yellow--700);
    }

    &--danger {
        @extend .alert;
        background-color: var(--color__red--100);
        border-color: var(--color__red--200);
        color: var(--color__red--700);
    }
}
