.banner {
    background-size: cover;
    background-position: center;
    background-size: cover;
    color: $color__white;
    position: relative;
    width: 100%;
    min-height: 100vh;

    @include min-size('md') {
        width: 50%;
        min-height: auto;
    }

    &:before {
        content: '';
        position: absolute;
        inset: 0;
        background: rgb(253, 253, 253);
        background: linear-gradient(
            180deg,
            rgba(253, 253, 253, 0) 20%,
            rgba(14, 14, 14, 1) 100%
        );
    }

    &__container {
        display: flex;
        flex-direction: column;
        padding: 1.5rem 1rem;
        height: 100%;
        position: relative;

        @include min-size('md') {
            max-width: 38rem;
            padding: 1.5rem 3rem;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 20vh;
        margin-bottom: 10vh;
        flex: 1;
        text-align: center;

        @include min-size('md') {
            margin-top: 20%;
            margin-bottom: 0;
            text-align: left;
        }
    }

    &__title {
        font-size: 2rem;
        font-weight: 600;
        font-family: $font__primary;
        font-weight: 700;
        margin-bottom: 2rem;

        @include min-size('xxs') {
            font-size: 3rem;
        }

        @include min-size('md') {
            font-size: 2rem;
        }
    }

    &__paragraph {
        line-height: 1.75;
    }

    &__footer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        font-weight: 600;
        gap: 1rem;
        text-align: center;

        @include min-size('md') {
            align-items: flex-start;
        }

        @include min-size('lg') {
            flex-direction: row;
            align-items: center;
            gap: 0;
        }

        &__link {
            display: inline-block;
            color: $color__white;

            &:hover {
                color: $color__primary--500;
            }
        }
    }

    &__social {
        display: flex;
        gap: 0.5rem;

        &__link {
            display: block;
            color: $color__white;
            line-height: 0;
            padding: 0.5rem;
            background-color: rgba($color__white, 0.1);
            border-radius: 100%;
            transition: background-color 0.3s ease;

            &:hover {
                background-color: var(--color__primary--500);

                path {
                    fill: $color__black;
                }
            }
        }

        &__icon {
            width: 1rem;
            height: 1rem;

            path {
                fill: $color__white;
                transition: fill 0.3s ease;
            }
        }
    }
}

.banner--login {
    background-image: url('../../src/img/banner-login.jpg');
    order: 1;

    @include min-size('md') {
        order: 2;
    }
}

.banner--register {
    background-image: url('../../src/img/banner-register.jpg');

    .banner {
        &__container {
            margin-right: 0;
            margin-left: auto;
        }
    }
}

/* -------------------------------------------------------------------------- */
/*                                 DARK THEME                                 */
/* -------------------------------------------------------------------------- */

.theme--dark .banner {
    background-blend-mode: saturation;
}

.theme--dark .banner--login {
    background-image: linear-gradient(
            180deg,
            rgba(26, 26, 26, 0.5) 0%,
            rgba(26, 26, 26, 0.5) 100%
        ),
        url('../../src/img/banner-login.jpg');
}

.theme--dark .banner--register {
    background-image: linear-gradient(
            180deg,
            rgba(26, 26, 26, 0.5) 0%,
            rgba(26, 26, 26, 0.5) 100%
        ),
        url('../../src/img/banner-register.jpg');
}
