.dropdown-container {
    position: relative;
}

.dropdown {
    background-color: var(--color__white);
    position: absolute;
    top: 100%;
    border: 0.0625rem solid;
    border-color: var(--color__slate--100);
    border-radius: $radius--md;
    overflow: hidden;
    visibility: hidden;
    transform: translateY(-1rem);
    opacity: 0;
    line-height: initial;
    transition: visibility 0.3s ease, opacity 0.3s ease, transform 0.3s ease;
    box-shadow: $shadow--md;
    z-index: 8888;

    &__header {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        padding: 0.75em 1em;
        border-bottom: 0.0625rem solid var(--color__slate--100);
        color: var(--color__black);

        &__title {
            font-family: $font__primary;
            white-space: nowrap;
        }

        &__detail {
            font-size: 0.875rem;
            white-space: nowrap;
        }
    }

    &__menu {
        &__link {
            color: var(--color__black);
            display: flex;
            align-items: center;
            gap: 0.5em;
            padding: 0.75em 1em;
            transition: background-color 0.3s ease;
            white-space: nowrap;

            &:hover {
                background-color: var(--color__slate--75);
            }
        }

        &__icon {
            line-height: 0;
        }

        .feather {
            height: 1rem;
            width: 1rem;
            stroke-width: 2.5;
        }
    }

    &__separator {
        border-top: 0.0625rem solid var(--color__slate--100);
    }

    &__footer {
        display: flex;
        flex-direction: column;
        padding: 0.75em 1em;
        border-top: 0.0625rem solid var(--color__slate--100);

        &__btn {
            @include min-size('md') {
                white-space: nowrap;
            }
        }
    }

    /* -------------------------------------------------------------------------- */
    /*                                ACTIVE STATE                                */
    /* -------------------------------------------------------------------------- */

    &.visible {
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
    }
}

/* -------------------------------------------------------------------------- */
/*                              POSITION DROPDOWN                             */
/* -------------------------------------------------------------------------- */

.dropdown--right {
    left: 0;
    right: auto;
}

.dropdown--left {
    right: 0;
    left: auto;
}

/* -------------------------------------------------------------------------- */
/*                                USER DROPDOWN                               */
/* -------------------------------------------------------------------------- */

.dropdown--user-container {
    position: initial;

    @include min-size('md') {
        position: relative;
    }
}

.dropdown--user {
    left: 0;
    right: 0;
    transform: translateY(2rem);
    border-top: 0.0625rem solid;
    border-bottom: 0.0625rem solid;
    border-left: none;
    border-right: none;
    border-radius: 0;
    border-color: var(--color__slate--100);

    @include min-size('md') {
        left: auto;
        transform: translateY(1.5rem);
        border-radius: $radius--md;
        border-left: 0.0625rem solid;
        border-right: 0.0625rem solid;
        border-color: var(--color__slate--100);
    }

    &__header {
        display: flex;
        align-items: center;
        gap: 0.75rem;
        padding: 0.75em 1em;
        color: var(--color__black);
        border-bottom: 0.0625rem solid var(--color__slate--100);
    }

    &__photo {
        width: 3.5rem;
        height: 3.5rem;
        border-radius: 100%;
    }

    &__name {
        display: block;
        font-weight: 700;
        font-family: $font__primary;
        white-space: nowrap;
    }

    &__label {
        display: block;
        white-space: nowrap;
        font-size: 0.875rem;
    }

    &.visible {
        transform: translateY(0);

        @include min-size('md') {
            transform: translateY(0.5rem);
        }
    }
}

/* -------------------------------------------------------------------------- */
/*                           NOTIFICATIONS DROPDOWN                           */
/* -------------------------------------------------------------------------- */

.dropdown--notifications-container {
    position: initial;

    @include min-size('md') {
        position: relative;
    }
}

.dropdown--notifications {
    left: 0;
    right: 0;
    transform: translateY(2rem);
    border-top: 0.0625rem solid;
    border-bottom: 0.0625rem solid;
    border-left: none;
    border-right: none;
    border-color: var(--color__slate--100);
    border-radius: 0;

    @include min-size('md') {
        left: auto;
        width: 24rem;
        transform: translateY(1.5rem);
        border-radius: $radius--md;
        border-left: 0.0625rem solid;
        border-right: 0.0625rem solid;
        border-color: var(--color__slate--100);
    }

    &__menu {
        max-height: 18rem;
        overflow-y: overlay;
        overflow-x: hidden;
    }

    &__item {
        display: flex;
        justify-content: space-between;
        transition: transform 0.3s ease, opacity 0.3s ease;

        &:hover {
            background-color: var(--color__slate--75);
        }
    }

    &__link {
        display: flex;
        align-items: center;
        flex: 1;
        gap: 1rem;
        padding: 0.75em 1em;
        color: var(--color__black);
    }

    &__icon {
        display: flex;
        padding: 0.5rem;
        border-radius: 100%;

        &--info {
            @extend .dropdown--notifications__icon;
            background-color: var(--color__blue--100);
            color: var(--color__blue--600);
        }

        &--warning {
            @extend .dropdown--notifications__icon;
            background-color: var(--color__yellow--100);
            color: var(--color__yellow--600);
        }

        &--success {
            @extend .dropdown--notifications__icon;
            background-color: var(--color__green--100);
            color: var(--color__green--600);
        }

        &--danger {
            @extend .dropdown--notifications__icon;
            background-color: var(--color__red--100);
            color: var(--color__red--600);
        }

        .feather {
            height: 1.125rem;
            width: 1.125rem;
            stroke-width: 2.5;
        }
    }

    &__message {
        &__title {
            display: block;
            font-weight: 700;
            font-size: 0.875rem;
        }

        &__detail {
            display: block;
            font-size: 0.75rem;
        }
    }

    &__close-btn {
        color: var(--color__slate--400);
        padding: 0 1rem;

        .feather {
            height: 1rem;
            width: 1rem;
            stroke-width: 2.5;
        }
    }

    &.visible {
        transform: translateY(0);

        @include min-size('md') {
            transform: translateY(0.5rem);
        }
    }
}

/* -------------------------------------------------------------------------- */
/*                                 DARK THEME                                 */
/* -------------------------------------------------------------------------- */

.theme--dark .dropdown {
    box-shadow: none;
}
