.modal {
    &.active {
        .modal__container,
        .modal__window,
        .modal__overlay {
            opacity: 1;
            visibility: visible;
        }

        .modal__window {
            transform: translateY(0);
        }
    }

    &__overlay {
        display: block;
        position: fixed;
        inset: 0;
        background-color: rgba($color__black, 0.9);
        backdrop-filter: blur(3px);
        content: '';
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s ease, visibility 0.3s ease;
    }

    &__container {
        position: fixed;
        inset: 0;
        overflow-y: overlay;
        opacity: 0;
        visibility: hidden;
        z-index: 9999;
        transition: opacity 0.3s ease, visibility 0.3s ease;
    }

    &__window {
        position: relative;
        display: flex;
        flex-direction: column;
        max-width: 48rem;
        width: calc(100vw - 2rem);
        margin-top: 1rem;
        margin-bottom: 1rem;
        margin-left: auto;
        margin-right: auto;
        background-color: var(--color__white);
        border-radius: $radius--md;
        opacity: 0;
        visibility: hidden;
        border: 1px solid var(--color__slate--75);
        transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s ease;
        transform: translateY(2rem);
        z-index: 99999;

        @include min-size('sm') {
            margin-top: 2rem;
            margin-bottom: 2rem;
            width: calc(100vw - 4rem);
        }
    }

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid var(--color__slate--75);
    }

    &__title {
        padding: 1rem 1.5rem;
    }

    &__btn-close {
        line-height: 0;
        align-self: flex-end;
        padding: 1.5em;

        &:hover {
            color: var(--color__red--500);
        }
    }

    &__content {
        padding: 1.5rem;
    }

    &__actions {
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
        gap: 1rem;
        border-top: 1px solid var(--color__slate--75);
        padding: 1rem 1.5rem;
    }
}
