.form-input--date__field,
.form-input--time__field {
    padding: 0.6875em 1em 0.6875em 1em;

    & + .form-input__icon {
        color: var(--color__black);
    }

    &::-webkit-inner-spin-button,
    &::-webkit-calendar-picker-indicator {
        opacity: 0;

        @include firefox {
            opacity: 1;
        }
    }

    &::-webkit-date-and-time-value {
        margin: 0;
    }
}

.form-input--date.filled,
.form-input--time.filled {
    .form-input__icon {
        background-color: $color__blue--100;

        @include firefox {
            display: none !important;
        }
    }
}

.form-input--date.filled .form-input--date__field,
.form-input--time.filled .form-input--time__field {
    background-color: $color__blue--100;
}

.form-input--time {
    &:focus-within {
        .form-input__custom-placeholder {
            @include firefox {
                display: none;
            }
        }
    }
}

/* -------------------------------------------------------------------------- */
/*                                 DARK THEME                                 */
/* -------------------------------------------------------------------------- */

.theme--dark {
    .form-input--date.filled .form-input--date__field,
    .form-input--time.filled .form-input--time__field {
        background-color: $color__slate--800;
        outline: 1px solid $color__slate--600;
    }

    .form-input--date.filled,
    .form-input--time.filled {
        .form-input__icon {
            background-color: $color__slate--800;
        }
    }
}
