.form-input--file-multi {
    &__drop-zone {
        position: relative;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        background-color: var(--color__slate--75);
        gap: 0.5rem;
        padding: 3rem;
        border-radius: $radius--md;
        background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='8' ry='8' stroke='%23C0C7CFFF' stroke-width='5' stroke-dasharray='10' stroke-dashoffset='75' stroke-linecap='butt'/%3e%3c/svg%3e");
        cursor: pointer;
        position: relative;
        transition: background-color 0.3s ease;

        &__icon {
            color: var(--color__slate--400);
            pointer-events: none;
            transition: transform 0.3s ease, opacity 0.3s ease;
            .feather {
                height: 8rem;
                width: 8rem;
                stroke-width: 1.5;
            }
        }

        &__icon-drop {
            position: absolute;
            color: var(--color__blue--400);
            pointer-events: none;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            transition: opacity 0.3s ease, transform 0.3s ease;
            opacity: 0;

            .feather {
                height: 8rem;
                width: 8rem;
                stroke-width: 1.25;
            }
        }

        &__advice {
            display: block;
            font-weight: 800;
            font-size: 1.5rem;
            color: var(--color__slate--400);
            width: 70%;
            pointer-events: none;
            transition: opacity 0.3s ease, transform 0.3s ease;
        }

        &__detail {
            display: block;
            font-size: 1rem;
            font-weight: 600;
            color: var(--color__slate--300);
            width: 70%;
            pointer-events: none;
            transition: opacity 0.3s ease, transform 0.3s ease;
        }
    }
}

.form-input--file-multi__drop-zone.dragging {
    background-color: $color__blue--100;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='8' ry='8' stroke='%23CAD7F4FF' stroke-width='5' stroke-dasharray='10' stroke-dashoffset='75' stroke-linecap='butt'/%3e%3c/svg%3e");

    .form-input--file-multi__drop-zone {
        &__icon {
            opacity: 0;
            transform: scale(0.7);
        }

        &__icon-drop {
            opacity: 1;
            transform: translate(-50%, -50%) scale(1.5);
        }

        &__advice {
            opacity: 0;
            transform: scale(0.7);
        }

        &__detail {
            opacity: 0;
            transform: scale(0.7);
        }

        &__icon,
        &__advice {
            color: $color__blue--400;
        }
    }
}

/* -------------------------------------------------------------------------- */
/*                                 DARK THEME                                 */
/* -------------------------------------------------------------------------- */

.theme--dark .form-input--file-multi {
    &__custom-field {
        background-color: $color__slate--800;
        background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='8' ry='8' stroke='%23525E6FFF' stroke-width='6' stroke-dasharray='10' stroke-dashoffset='37' stroke-linecap='butt'/%3e%3c/svg%3e");
    }

    &__icon {
        color: $color__slate--600;
    }
}
