.form-input--password {
    &__btn {
        position: absolute;
        right: 2px;
        padding: 0.5em 1em;
        border-radius: $radius--md;
        background-color: var(--color__slate--75);
        bottom: 0.34em;
        color: var(--color__black);
        line-height: 0;
        font-size: inherit;

        &__icon--hide {
            display: none;
        }

        .feather {
            font-size: inherit;
            height: 1.25em;
            width: 1.25em;
        }
    }

    &.visible {
        .form-input--password__btn__icon--show {
            display: none;
        }

        .form-input--password__btn__icon--hide {
            display: initial;
        }
    }
}
