.forgot-password {
    &__header {
        .logo {
            &__text {
                color: var(--color__black);
            }

            .cls-1 {
                fill: $color__primary--300;

                @include min-size('ml') {
                    fill: $color__black;
                }
            }
        }
    }

    &__form-container {
        @include min-size('ml') {
            margin-left: 0;
            margin-right: auto;
        }
    }

    &__illustration__container {
        margin-right: 0;
        margin-left: auto;
        text-align: center;
    }
}

/* -------------------------------------------------------------------------- */
/*                                 DARK THEME                                 */
/* -------------------------------------------------------------------------- */

.theme--dark .forgot-password {
    &__header {
        .logo {
            .cls-1 {
                fill: $color__primary--200;
            }
        }
    }
}
