.login {
    &__header {
        .logo {
            &__text {
                color: $color__white;

                @include min-size('ml') {
                    color: $color__black;
                }
            }

            .cls-1 {
                fill: $color__primary--300;

                @include min-size('ml') {
                    fill: $color__black;
                }
            }
        }
    }

    &__form-container {
        order: 2;
        @include min-size('ml') {
            order: 1;
        }
    }

    &__banner {
        order: 1;
        @include min-size('ml') {
            order: 2;
        }
    }

    &__form-container {
        @include min-size('ml') {
            margin-right: 0;
            margin-left: auto;
        }
    }

    &__form {
        &__remember-forgot {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            gap: 1rem;
        }
    }
}

/* -------------------------------------------------------------------------- */
/*                                 DARK THEME                                 */
/* -------------------------------------------------------------------------- */

.theme--dark .login {
    &__header {
        .logo {
            &__text {
                color: $color__white;
            }

            .cls-1 {
                fill: $color__primary--200;
            }
        }
    }
}
