@font-face {
    font-family: 'iconsax';
    src: url('../../src/fonts/iconsax/iconsax.eot?cilj2n');
    src: url('../../src/fonts/iconsax/iconsax.eot?cilj2n#iefix')
            format('embedded-opentype'),
        url('../../src/fonts/iconsax/iconsax.ttf?cilj2n') format('truetype'),
        url('../../src/fonts/iconsax/iconsax.woff?cilj2n') format('woff'),
        url('../../src/fonts/iconsax/iconsax.svg?cilj2n#iconsax') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

i {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'iconsax' !important;
    speak: never;
    font-style: normal;
    font-weight: 600;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    font-size: 1.125rem;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.iconsax-dcube:before {
    content: '\e900';
}
.iconsax-d-cube-scan:before {
    content: '\e901';
}
.iconsax-d-rotate:before {
    content: '\e902';
}
.iconsax-d-square:before {
    content: '\e903';
}
.iconsax-square:before {
    content: '\e904';
}
.iconsax-support:before {
    content: '\e905';
}
.iconsax-activity:before {
    content: '\e906';
}
.iconsax-add:before {
    content: '\e907';
}
.iconsax-add-circle:before {
    content: '\e908';
}
.iconsax-additem:before {
    content: '\e909';
}
.iconsax-add-square:before {
    content: '\e90a';
}
.iconsax-airdrop:before {
    content: '\e90b';
}
.iconsax-airplane:before {
    content: '\e90c';
}
.iconsax-airplane-square:before {
    content: '\e90d';
}
.iconsax-airpod:before {
    content: '\e90e';
}
.iconsax-airpods:before {
    content: '\e90f';
}
.iconsax-alarm:before {
    content: '\e910';
}
.iconsax-align-bottom:before {
    content: '\e911';
}
.iconsax-align-horizontally:before {
    content: '\e912';
}
.iconsax-align-left:before {
    content: '\e913';
}
.iconsax-align-right:before {
    content: '\e914';
}
.iconsax-align-vertically:before {
    content: '\e915';
}
.iconsax-aquarius:before {
    content: '\e916';
}
.iconsax-archive:before {
    content: '\e917';
}
.iconsax-archive-1:before {
    content: '\e918';
}
.iconsax-archive-2:before {
    content: '\e919';
}
.iconsax-archive-add:before {
    content: '\e91a';
}
.iconsax-archive-book:before {
    content: '\e91b';
}
.iconsax-archive-minus:before {
    content: '\e91c';
}
.iconsax-archive-slash:before {
    content: '\e91d';
}
.iconsax-archive-tick:before {
    content: '\e91e';
}
.iconsax-arrange-circle:before {
    content: '\e91f';
}
.iconsax-arrange-circle-2:before {
    content: '\e920';
}
.iconsax-arrange-square:before {
    content: '\e921';
}
.iconsax-arrange-square-2:before {
    content: '\e922';
}
.iconsax-arrow:before {
    content: '\e923';
}
.iconsax-arrow-2:before {
    content: '\e924';
}
.iconsax-arrow-3:before {
    content: '\e925';
}
.iconsax-arrow-bottom:before {
    content: '\e926';
}
.iconsax-arrow-circle-down:before {
    content: '\e927';
}
.iconsax-arrow-circle-left:before {
    content: '\e928';
}
.iconsax-arrow-circle-right:before {
    content: '\e929';
}
.iconsax-arrow-circle-up:before {
    content: '\e92a';
}
.iconsax-arrow-down:before {
    content: '\e92b';
}
.iconsax-arrow-down-1:before {
    content: '\e92c';
}
.iconsax-arrow-down-2:before {
    content: '\e92d';
}
.iconsax-arrow-left:before {
    content: '\e92e';
}
.iconsax-arrow-left-1:before {
    content: '\e92f';
}
.iconsax-arrow-left-2:before {
    content: '\e930';
}
.iconsax-arrow-left-3:before {
    content: '\e931';
}
.iconsax-arrow-right:before {
    content: '\e932';
}
.iconsax-arrow-right-1:before {
    content: '\e933';
}
.iconsax-arrow-right-2:before {
    content: '\e934';
}
.iconsax-arrow-right-3:before {
    content: '\e935';
}
.iconsax-arrow-right-4:before {
    content: '\e936';
}
.iconsax-arrow-square:before {
    content: '\e937';
}
.iconsax-arrow-square-down:before {
    content: '\e938';
}
.iconsax-arrow-square-left:before {
    content: '\e939';
}
.iconsax-arrow-square-up:before {
    content: '\e93a';
}
.iconsax-arrow-swap:before {
    content: '\e93b';
}
.iconsax-arrow-swap-horizontal:before {
    content: '\e93c';
}
.iconsax-arrow-up:before {
    content: '\e93d';
}
.iconsax-arrow-up-1:before {
    content: '\e93e';
}
.iconsax-arrow-up-2:before {
    content: '\e93f';
}
.iconsax-arrow-up-3:before {
    content: '\e940';
}
.iconsax-attach-circle:before {
    content: '\e941';
}
.iconsax-attach-square:before {
    content: '\e942';
}
.iconsax-audio-square:before {
    content: '\e943';
}
.iconsax-autobrightness:before {
    content: '\e944';
}
.iconsax-award:before {
    content: '\e945';
}
.iconsax-back-square:before {
    content: '\e946';
}
.iconsax-backward:before {
    content: '\e947';
}
.iconsax-backward-5-seconds:before {
    content: '\e948';
}
.iconsax-backward-10-seconds:before {
    content: '\e949';
}
.iconsax-backward-15-seconds:before {
    content: '\e94a';
}
.iconsax-backward-item:before {
    content: '\e94b';
}
.iconsax-bag:before {
    content: '\e94c';
}
.iconsax-bag-2:before {
    content: '\e94d';
}
.iconsax-bag-cross:before {
    content: '\e94e';
}
.iconsax-bag-cross-1:before {
    content: '\e94f';
}
.iconsax-bag-happy:before {
    content: '\e950';
}
.iconsax-bag-tick:before {
    content: '\e951';
}
.iconsax-bag-tick-2:before {
    content: '\e952';
}
.iconsax-bag-timer:before {
    content: '\e953';
}
.iconsax-bank:before {
    content: '\e954';
}
.iconsax-barcode:before {
    content: '\e955';
}
.iconsax-battery-3full:before {
    content: '\e956';
}
.iconsax-battery-charging:before {
    content: '\e957';
}
.iconsax-battery-disable:before {
    content: '\e958';
}
.iconsax-battery-empty:before {
    content: '\e959';
}
.iconsax-battery-empty-1:before {
    content: '\e95a';
}
.iconsax-battery-full:before {
    content: '\e95b';
}
.iconsax-bezier:before {
    content: '\e95c';
}
.iconsax-bill:before {
    content: '\e95d';
}
.iconsax-bitcoin-card:before {
    content: '\e95e';
}
.iconsax-bitcoin-convert:before {
    content: '\e95f';
}
.iconsax-bitcoin-refresh:before {
    content: '\e960';
}
.iconsax-blend:before {
    content: '\e961';
}
.iconsax-blend-2:before {
    content: '\e962';
}
.iconsax-bluetooth:before {
    content: '\e963';
}
.iconsax-bluetooth-2:before {
    content: '\e964';
}
.iconsax-bluetooth-circle:before {
    content: '\e965';
}
.iconsax-bluetooth-rectangle:before {
    content: '\e966';
}
.iconsax-blur:before {
    content: '\e967';
}
.iconsax-book:before {
    content: '\e968';
}
.iconsax-book-1:before {
    content: '\e969';
}
.iconsax-bookmark:before {
    content: '\e96a';
}
.iconsax-bookmark-2:before {
    content: '\e96b';
}
.iconsax-book-saved:before {
    content: '\e96c';
}
.iconsax-book-square:before {
    content: '\e96d';
}
.iconsax-box:before {
    content: '\e96e';
}
.iconsax-box-1:before {
    content: '\e96f';
}
.iconsax-box-2:before {
    content: '\e970';
}
.iconsax-box-add:before {
    content: '\e971';
}
.iconsax-box-remove:before {
    content: '\e972';
}
.iconsax-box-search:before {
    content: '\e973';
}
.iconsax-box-tick:before {
    content: '\e974';
}
.iconsax-box-time:before {
    content: '\e975';
}
.iconsax-briefcase:before {
    content: '\e976';
}
.iconsax-brifecase-cross:before {
    content: '\e977';
}
.iconsax-brifecase-tick:before {
    content: '\e978';
}
.iconsax-brifecase-timer:before {
    content: '\e979';
}
.iconsax-broom:before {
    content: '\e97a';
}
.iconsax-brush:before {
    content: '\e97b';
}
.iconsax-brush-1:before {
    content: '\e97c';
}
.iconsax-brush-2:before {
    content: '\e97d';
}
.iconsax-brush-3:before {
    content: '\e97e';
}
.iconsax-brush-4:before {
    content: '\e97f';
}
.iconsax-bubble:before {
    content: '\e980';
}
.iconsax-bucket:before {
    content: '\e981';
}
.iconsax-bucket-circle:before {
    content: '\e982';
}
.iconsax-bucket-square:before {
    content: '\e983';
}
.iconsax-building:before {
    content: '\e984';
}
.iconsax-building-3:before {
    content: '\e985';
}
.iconsax-building-4:before {
    content: '\e986';
}
.iconsax-buildings:before {
    content: '\e987';
}
.iconsax-buildings-2:before {
    content: '\e988';
}
.iconsax-buliding:before {
    content: '\e989';
}
.iconsax-bus:before {
    content: '\e98a';
}
.iconsax-buy-crypto:before {
    content: '\e98b';
}
.iconsax-cake:before {
    content: '\e98c';
}
.iconsax-calculator:before {
    content: '\e98d';
}
.iconsax-calendar:before {
    content: '\e98e';
}
.iconsax-calendar-1:before {
    content: '\e98f';
}
.iconsax-calendar-2:before {
    content: '\e990';
}
.iconsax-calendar-add:before {
    content: '\e991';
}
.iconsax-calendar-circle:before {
    content: '\e992';
}
.iconsax-calendar-edit:before {
    content: '\e993';
}
.iconsax-calendar-remove:before {
    content: '\e994';
}
.iconsax-calendar-search:before {
    content: '\e995';
}
.iconsax-calendar-tick:before {
    content: '\e996';
}
.iconsax-call:before {
    content: '\e997';
}
.iconsax-call-add:before {
    content: '\e998';
}
.iconsax-call-calling:before {
    content: '\e999';
}
.iconsax-call-incoming:before {
    content: '\e99a';
}
.iconsax-call-minus:before {
    content: '\e99b';
}
.iconsax-call-outgoing:before {
    content: '\e99c';
}
.iconsax-call-received:before {
    content: '\e99d';
}
.iconsax-call-remove:before {
    content: '\e99e';
}
.iconsax-call-slash:before {
    content: '\e99f';
}
.iconsax-camera:before {
    content: '\e9a0';
}
.iconsax-camera-slash:before {
    content: '\e9a1';
}
.iconsax-candle:before {
    content: '\e9a2';
}
.iconsax-candle-2:before {
    content: '\e9a3';
}
.iconsax-car:before {
    content: '\e9a4';
}
.iconsax-card:before {
    content: '\e9a5';
}
.iconsax-card-add:before {
    content: '\e9a6';
}
.iconsax-card-coin:before {
    content: '\e9a7';
}
.iconsax-card-edit:before {
    content: '\e9a8';
}
.iconsax-card-pos:before {
    content: '\e9a9';
}
.iconsax-card-receive:before {
    content: '\e9aa';
}
.iconsax-card-remove:before {
    content: '\e9ab';
}
.iconsax-card-remove-1:before {
    content: '\e9ac';
}
.iconsax-cards:before {
    content: '\e9ad';
}
.iconsax-card-send:before {
    content: '\e9ae';
}
.iconsax-card-slash:before {
    content: '\e9af';
}
.iconsax-card-tick:before {
    content: '\e9b0';
}
.iconsax-card-tick-1:before {
    content: '\e9b1';
}
.iconsax-category:before {
    content: '\e9b2';
}
.iconsax-category-2:before {
    content: '\e9b3';
}
.iconsax-cd:before {
    content: '\e9b4';
}
.iconsax-chart:before {
    content: '\e9b5';
}
.iconsax-chart-1:before {
    content: '\e9b6';
}
.iconsax-chart-2:before {
    content: '\e9b7';
}
.iconsax-chart-3:before {
    content: '\e9b8';
}
.iconsax-chart-21:before {
    content: '\e9b9';
}
.iconsax-chart-fail:before {
    content: '\e9ba';
}
.iconsax-chart-square:before {
    content: '\e9bb';
}
.iconsax-chart-success:before {
    content: '\e9bc';
}
.iconsax-check:before {
    content: '\e9bd';
}
.iconsax-chrome:before {
    content: '\e9be';
}
.iconsax-clipboard:before {
    content: '\e9bf';
}
.iconsax-clipboard-close:before {
    content: '\e9c0';
}
.iconsax-clipboard-export:before {
    content: '\e9c1';
}
.iconsax-clipboard-import:before {
    content: '\e9c2';
}
.iconsax-clipboard-text:before {
    content: '\e9c3';
}
.iconsax-clipboard-tick:before {
    content: '\e9c4';
}
.iconsax-clock:before {
    content: '\e9c5';
}
.iconsax-clock-1:before {
    content: '\e9c6';
}
.iconsax-close-circle:before {
    content: '\e9c7';
}
.iconsax-close-square:before {
    content: '\e9c8';
}
.iconsax-cloud:before {
    content: '\e9c9';
}
.iconsax-cloud-add:before {
    content: '\e9ca';
}
.iconsax-cloud-change:before {
    content: '\e9cb';
}
.iconsax-cloud-connection:before {
    content: '\e9cc';
}
.iconsax-cloud-cross:before {
    content: '\e9cd';
}
.iconsax-cloud-drizzle:before {
    content: '\e9ce';
}
.iconsax-cloud-fog:before {
    content: '\e9cf';
}
.iconsax-cloud-lightning:before {
    content: '\e9d0';
}
.iconsax-cloud-minus:before {
    content: '\e9d1';
}
.iconsax-cloud-notif:before {
    content: '\e9d2';
}
.iconsax-cloud-plus:before {
    content: '\e9d3';
}
.iconsax-cloud-remove:before {
    content: '\e9d4';
}
.iconsax-cloud-snow:before {
    content: '\e9d5';
}
.iconsax-cloud-sunny:before {
    content: '\e9d6';
}
.iconsax-code:before {
    content: '\e9d7';
}
.iconsax-code-1:before {
    content: '\e9d8';
}
.iconsax-code-circle:before {
    content: '\e9d9';
}
.iconsax-coffee:before {
    content: '\e9da';
}
.iconsax-coin:before {
    content: '\e9db';
}
.iconsax-coin-1:before {
    content: '\e9dc';
}
.iconsax-colorfilter:before {
    content: '\e9dd';
}
.iconsax-colors-square:before {
    content: '\e9de';
}
.iconsax-color-swatch:before {
    content: '\e9df';
}
.iconsax-command:before {
    content: '\e9e0';
}
.iconsax-command-square:before {
    content: '\e9e1';
}
.iconsax-component:before {
    content: '\e9e2';
}
.iconsax-computing:before {
    content: '\e9e3';
}
.iconsax-convert:before {
    content: '\e9e4';
}
.iconsax-convert-3d-cube:before {
    content: '\e9e5';
}
.iconsax-convert-card:before {
    content: '\e9e6';
}
.iconsax-convertshape:before {
    content: '\e9e7';
}
.iconsax-convertshape-2:before {
    content: '\e9e8';
}
.iconsax-copy:before {
    content: '\e9e9';
}
.iconsax-copyright:before {
    content: '\e9ea';
}
.iconsax-copy-success:before {
    content: '\e9eb';
}
.iconsax-courthouse:before {
    content: '\e9ec';
}
.iconsax-cpu:before {
    content: '\e9ed';
}
.iconsax-cpu-charge:before {
    content: '\e9ee';
}
.iconsax-cpu-setting:before {
    content: '\e9ef';
}
.iconsax-creative-commons:before {
    content: '\e9f0';
}
.iconsax-crop:before {
    content: '\e9f1';
}
.iconsax-crown:before {
    content: '\e9f2';
}
.iconsax-crown-1:before {
    content: '\e9f3';
}
.iconsax-cup:before {
    content: '\e9f4';
}
.iconsax-danger:before {
    content: '\e9f5';
}
.iconsax-data:before {
    content: '\e9f6';
}
.iconsax-data-2 .path1:before {
    content: '\e9f7';
    color: rgb(41, 45, 50);
}
.iconsax-data-2 .path2:before {
    content: '\e9f8';
    margin-left: -1em;
    color: rgb(41, 45, 50);
}
.iconsax-data-2 .path3:before {
    content: '\e9f9';
    margin-left: -1em;
    color: rgb(41, 45, 50);
}
.iconsax-data-2 .path4:before {
    content: '\e9fa';
    margin-left: -1em;
    color: rgb(41, 45, 50);
}
.iconsax-data-2 .path5:before {
    content: '\e9fb';
    margin-left: -1em;
    color: rgb(255, 255, 255);
}
.iconsax-data-2 .path6:before {
    content: '\e9fc';
    margin-left: -1em;
    color: rgb(41, 45, 50);
}
.iconsax-data-2 .path7:before {
    content: '\e9fd';
    margin-left: -1em;
    color: rgb(41, 45, 50);
}
.iconsax-data-2 .path8:before {
    content: '\e9fe';
    margin-left: -1em;
    color: rgb(41, 45, 50);
}
.iconsax-designtools:before {
    content: '\e9ff';
}
.iconsax-device-message:before {
    content: '\ea00';
}
.iconsax-devices:before {
    content: '\ea01';
}
.iconsax-devices-1:before {
    content: '\ea02';
}
.iconsax-diagram:before {
    content: '\ea03';
}
.iconsax-diamonds:before {
    content: '\ea04';
}
.iconsax-direct:before {
    content: '\ea05';
}
.iconsax-directbox-default:before {
    content: '\ea06';
}
.iconsax-directbox-notif:before {
    content: '\ea07';
}
.iconsax-directbox-receive:before {
    content: '\ea08';
}
.iconsax-directbox-send:before {
    content: '\ea09';
}
.iconsax-direct-down:before {
    content: '\ea0a';
}
.iconsax-direct-inbox:before {
    content: '\ea0b';
}
.iconsax-direct-left:before {
    content: '\ea0c';
}
.iconsax-direct-normal:before {
    content: '\ea0d';
}
.iconsax-direct-notification:before {
    content: '\ea0e';
}
.iconsax-direct-right:before {
    content: '\ea0f';
}
.iconsax-direct-send:before {
    content: '\ea10';
}
.iconsax-direct-up:before {
    content: '\ea11';
}
.iconsax-discount-circle:before {
    content: '\ea12';
}
.iconsax-discount-shape:before {
    content: '\ea13';
}
.iconsax-discover:before {
    content: '\ea14';
}
.iconsax-discover-1:before {
    content: '\ea15';
}
.iconsax-dislike:before {
    content: '\ea16';
}
.iconsax-document:before {
    content: '\ea17';
}
.iconsax-document-1:before {
    content: '\ea18';
}
.iconsax-document-cloud:before {
    content: '\ea19';
}
.iconsax-document-code:before {
    content: '\ea1a';
}
.iconsax-document-code-2:before {
    content: '\ea1b';
}
.iconsax-document-copy:before {
    content: '\ea1c';
}
.iconsax-document-download:before {
    content: '\ea1d';
}
.iconsax-document-favorite:before {
    content: '\ea1e';
}
.iconsax-document-filter:before {
    content: '\ea1f';
}
.iconsax-document-forward:before {
    content: '\ea20';
}
.iconsax-document-like:before {
    content: '\ea21';
}
.iconsax-document-normal:before {
    content: '\ea22';
}
.iconsax-document-previous:before {
    content: '\ea23';
}
.iconsax-document-sketch:before {
    content: '\ea24';
}
.iconsax-document-text:before {
    content: '\ea25';
}
.iconsax-document-text-1:before {
    content: '\ea26';
}
.iconsax-document-upload:before {
    content: '\ea27';
}
.iconsax-dollar-circle:before {
    content: '\ea28';
}
.iconsax-dollar-square:before {
    content: '\ea29';
}
.iconsax-driver:before {
    content: '\ea2a';
}
.iconsax-driver-2:before {
    content: '\ea2b';
}
.iconsax-driver-refresh:before {
    content: '\ea2c';
}
.iconsax-driving:before {
    content: '\ea2d';
}
.iconsax-edit:before {
    content: '\ea2e';
}
.iconsax-edit-2:before {
    content: '\ea2f';
}
.iconsax-electricity:before {
    content: '\ea30';
}
.iconsax-element-2:before {
    content: '\ea31';
}
.iconsax-element-3:before {
    content: '\ea32';
}
.iconsax-element-4:before {
    content: '\ea33';
}
.iconsax-element-equal:before {
    content: '\ea34';
}
.iconsax-element-plus:before {
    content: '\ea35';
}
.iconsax-emoji-happy:before {
    content: '\ea36';
}
.iconsax-emoji-normal:before {
    content: '\ea37';
}
.iconsax-emoji-sad:before {
    content: '\ea38';
}
.iconsax-empty-wallet:before {
    content: '\ea39';
}
.iconsax-empty-wallet-add:before {
    content: '\ea3a';
}
.iconsax-empty-wallet-change:before {
    content: '\ea3b';
}
.iconsax-empty-wallet-remove:before {
    content: '\ea3c';
}
.iconsax-empty-wallet-tick:before {
    content: '\ea3d';
}
.iconsax-empty-wallet-time:before {
    content: '\ea3e';
}
.iconsax-eraser:before {
    content: '\ea3f';
}
.iconsax-eraser-1:before {
    content: '\ea40';
}
.iconsax-export:before {
    content: '\ea41';
}
.iconsax-export-1:before {
    content: '\ea42';
}
.iconsax-export-2:before {
    content: '\ea43';
}
.iconsax-export-3:before {
    content: '\ea44';
}
.iconsax-external-drive:before {
    content: '\ea45';
}
.iconsax-eye:before {
    content: '\ea46';
}
.iconsax-eye-slash:before {
    content: '\ea47';
}
.iconsax-fatrows:before {
    content: '\ea48';
}
.iconsax-favorite-chart:before {
    content: '\ea49';
}
.iconsax-filter:before {
    content: '\ea4a';
}
.iconsax-filter-add:before {
    content: '\ea4b';
}
.iconsax-filter-edit:before {
    content: '\ea4c';
}
.iconsax-filter-remove:before {
    content: '\ea4d';
}
.iconsax-filter-search:before {
    content: '\ea4e';
}
.iconsax-filter-square:before {
    content: '\ea4f';
}
.iconsax-filter-tick:before {
    content: '\ea50';
}
.iconsax-finger-cricle:before {
    content: '\ea51';
}
.iconsax-finger-scan:before {
    content: '\ea52';
}
.iconsax-firstline:before {
    content: '\ea53';
}
.iconsax-flag:before {
    content: '\ea54';
}
.iconsax-flag-2:before {
    content: '\ea55';
}
.iconsax-flash:before {
    content: '\ea56';
}
.iconsax-flash-1:before {
    content: '\ea57';
}
.iconsax-flash-circle:before {
    content: '\ea58';
}
.iconsax-flash-circle-1:before {
    content: '\ea59';
}
.iconsax-flash-slash:before {
    content: '\ea5a';
}
.iconsax-folder:before {
    content: '\ea5b';
}
.iconsax-folder-2:before {
    content: '\ea5c';
}
.iconsax-folder-add:before {
    content: '\ea5d';
}
.iconsax-folder-cloud:before {
    content: '\ea5e';
}
.iconsax-folder-connection:before {
    content: '\ea5f';
}
.iconsax-folder-cross:before {
    content: '\ea60';
}
.iconsax-folder-favorite:before {
    content: '\ea61';
}
.iconsax-folder-minus:before {
    content: '\ea62';
}
.iconsax-folder-open:before {
    content: '\ea63';
}
.iconsax-forbidden:before {
    content: '\ea64';
}
.iconsax-forbidden-2:before {
    content: '\ea65';
}
.iconsax-format-circle:before {
    content: '\ea66';
}
.iconsax-format-square:before {
    content: '\ea67';
}
.iconsax-forward:before {
    content: '\ea68';
}
.iconsax-forward-5-seconds:before {
    content: '\ea69';
}
.iconsax-forward-10-seconds:before {
    content: '\ea6a';
}
.iconsax-forward-15-seconds:before {
    content: '\ea6b';
}
.iconsax-forward-item:before {
    content: '\ea6c';
}
.iconsax-forward-square:before {
    content: '\ea6d';
}
.iconsax-frame:before {
    content: '\ea6e';
}
.iconsax-frame-1:before {
    content: '\ea6f';
}
.iconsax-frame-2:before {
    content: '\ea70';
}
.iconsax-frame-3:before {
    content: '\ea71';
}
.iconsax-frame-4:before {
    content: '\ea72';
}
.iconsax-gallery:before {
    content: '\ea73';
}
.iconsax-gallery-add:before {
    content: '\ea74';
}
.iconsax-gallery-edit:before {
    content: '\ea75';
}
.iconsax-gallery-export:before {
    content: '\ea76';
}
.iconsax-gallery-favorite:before {
    content: '\ea77';
}
.iconsax-gallery-import:before {
    content: '\ea78';
}
.iconsax-gallery-remove:before {
    content: '\ea79';
}
.iconsax-gallery-slash:before {
    content: '\ea7a';
}
.iconsax-gallery-tick:before {
    content: '\ea7b';
}
.iconsax-game:before {
    content: '\ea7c';
}
.iconsax-gameboy:before {
    content: '\ea7d';
}
.iconsax-gas-station:before {
    content: '\ea7e';
}
.iconsax-gemini:before {
    content: '\ea7f';
}
.iconsax-gemini-2:before {
    content: '\ea80';
}
.iconsax-ghost:before {
    content: '\ea81';
}
.iconsax-gift:before {
    content: '\ea82';
}
.iconsax-glass:before {
    content: '\ea83';
}
.iconsax-glass-1:before {
    content: '\ea84';
}
.iconsax-global:before {
    content: '\ea85';
}
.iconsax-global-edit:before {
    content: '\ea86';
}
.iconsax-global-refresh:before {
    content: '\ea87';
}
.iconsax-global-search:before {
    content: '\ea88';
}
.iconsax-gps:before {
    content: '\ea89';
}
.iconsax-gps-slash:before {
    content: '\ea8a';
}
.iconsax-grammerly:before {
    content: '\ea8b';
}
.iconsax-graph:before {
    content: '\ea8c';
}
.iconsax-grid-1:before {
    content: '\ea8d';
}
.iconsax-grid-2:before {
    content: '\ea8e';
}
.iconsax-grid-3:before {
    content: '\ea8f';
}
.iconsax-grid-4:before {
    content: '\ea90';
}
.iconsax-grid-5:before {
    content: '\ea91';
}
.iconsax-grid-6:before {
    content: '\ea92';
}
.iconsax-grid-7:before {
    content: '\ea93';
}
.iconsax-grid-8:before {
    content: '\ea94';
}
.iconsax-grid-9:before {
    content: '\ea95';
}
.iconsax-grid-edit:before {
    content: '\ea96';
}
.iconsax-grid-eraser:before {
    content: '\ea97';
}
.iconsax-grid-lock:before {
    content: '\ea98';
}
.iconsax-happyemoji:before {
    content: '\ea99';
}
.iconsax-hashtag:before {
    content: '\ea9a';
}
.iconsax-hashtag-1:before {
    content: '\ea9b';
}
.iconsax-hashtag-down:before {
    content: '\ea9c';
}
.iconsax-hashtag-up:before {
    content: '\ea9d';
}
.iconsax-headphone:before {
    content: '\ea9e';
}
.iconsax-headphones:before {
    content: '\ea9f';
}
.iconsax-health:before {
    content: '\eaa0';
}
.iconsax-heart:before {
    content: '\eaa1';
}
.iconsax-heart-add:before {
    content: '\eaa2';
}
.iconsax-heart-circle:before {
    content: '\eaa3';
}
.iconsax-heart-edit:before {
    content: '\eaa4';
}
.iconsax-heart-remove:before {
    content: '\eaa5';
}
.iconsax-heart-search:before {
    content: '\eaa6';
}
.iconsax-heart-slash:before {
    content: '\eaa7';
}
.iconsax-heart-tick:before {
    content: '\eaa8';
}
.iconsax-hierarchy:before {
    content: '\eaa9';
}
.iconsax-hierarchy-2:before {
    content: '\eaaa';
}
.iconsax-hierarchy-3:before {
    content: '\eaab';
}
.iconsax-hierarchy-square:before {
    content: '\eaac';
}
.iconsax-hierarchy-square-2:before {
    content: '\eaad';
}
.iconsax-hierarchy-square-3:before {
    content: '\eaae';
}
.iconsax-home:before {
    content: '\eaaf';
}
.iconsax-home-1:before {
    content: '\eab0';
}
.iconsax-home-2:before {
    content: '\eab1';
}
.iconsax-home-hashtag:before {
    content: '\eab2';
}
.iconsax-home-trend-down:before {
    content: '\eab3';
}
.iconsax-home-trend-up:before {
    content: '\eab4';
}
.iconsax-home-wifi:before {
    content: '\eab5';
}
.iconsax-hospital:before {
    content: '\eab6';
}
.iconsax-house:before {
    content: '\eab7';
}
.iconsax-house-2:before {
    content: '\eab8';
}
.iconsax-icon:before {
    content: '\eab9';
}
.iconsax-image:before {
    content: '\eaba';
}
.iconsax-import:before {
    content: '\eabb';
}
.iconsax-import-1:before {
    content: '\eabc';
}
.iconsax-import-2:before {
    content: '\eabd';
}
.iconsax-info-circle:before {
    content: '\eabe';
}
.iconsax-information:before {
    content: '\eabf';
}
.iconsax-instagram:before {
    content: '\eac0';
}
.iconsax-judge:before {
    content: '\eac1';
}
.iconsax-kanban:before {
    content: '\eac2';
}
.iconsax-key:before {
    content: '\eac3';
}
.iconsax-keyboard:before {
    content: '\eac4';
}
.iconsax-keyboard-open:before {
    content: '\eac5';
}
.iconsax-key-square:before {
    content: '\eac6';
}
.iconsax-lamp:before {
    content: '\eac7';
}
.iconsax-lamp-1:before {
    content: '\eac8';
}
.iconsax-lamp-charge:before {
    content: '\eac9';
}
.iconsax-lamp-on:before {
    content: '\eaca';
}
.iconsax-lamp-slash:before {
    content: '\eacb';
}
.iconsax-language-circle:before {
    content: '\eacc';
}
.iconsax-language-square:before {
    content: '\eacd';
}
.iconsax-layer:before {
    content: '\eace';
}
.iconsax-level:before {
    content: '\eacf';
}
.iconsax-lifebuoy:before {
    content: '\ead0';
}
.iconsax-like:before {
    content: '\ead1';
}
.iconsax-like-1:before {
    content: '\ead2';
}
.iconsax-like-dislike:before {
    content: '\ead3';
}
.iconsax-like-shapes:before {
    content: '\ead4';
}
.iconsax-like-tag:before {
    content: '\ead5';
}
.iconsax-link:before {
    content: '\ead6';
}
.iconsax-link-1:before {
    content: '\ead7';
}
.iconsax-link-2:before {
    content: '\ead8';
}
.iconsax-link-21:before {
    content: '\ead9';
}
.iconsax-link-circle:before {
    content: '\eada';
}
.iconsax-link-square:before {
    content: '\eadb';
}
.iconsax-location:before {
    content: '\eadc';
}
.iconsax-location-add:before {
    content: '\eadd';
}
.iconsax-location-cross:before {
    content: '\eade';
}
.iconsax-location-minus:before {
    content: '\eadf';
}
.iconsax-location-slash:before {
    content: '\eae0';
}
.iconsax-location-tick:before {
    content: '\eae1';
}
.iconsax-lock:before {
    content: '\eae2';
}
.iconsax-lock-1:before {
    content: '\eae3';
}
.iconsax-lock-circle:before {
    content: '\eae4';
}
.iconsax-lock-slash:before {
    content: '\eae5';
}
.iconsax-login:before {
    content: '\eae6';
}
.iconsax-login-1:before {
    content: '\eae7';
}
.iconsax-logout:before {
    content: '\eae8';
}
.iconsax-logout-1:before {
    content: '\eae9';
}
.iconsax-lovely:before {
    content: '\eaea';
}
.iconsax-magicpen:before {
    content: '\eaeb';
}
.iconsax-magic-star:before {
    content: '\eaec';
}
.iconsax-main-component:before {
    content: '\eaed';
}
.iconsax-man:before {
    content: '\eaee';
}
.iconsax-map:before {
    content: '\eaef';
}
.iconsax-map-1:before {
    content: '\eaf0';
}
.iconsax-mask:before {
    content: '\eaf1';
}
.iconsax-mask-1:before {
    content: '\eaf2';
}
.iconsax-mask-2:before {
    content: '\eaf3';
}
.iconsax-math:before {
    content: '\eaf4';
}
.iconsax-maximize:before {
    content: '\eaf5';
}
.iconsax-maximize-1:before {
    content: '\eaf6';
}
.iconsax-maximize-2:before {
    content: '\eaf7';
}
.iconsax-maximize-3:before {
    content: '\eaf8';
}
.iconsax-maximize-4:before {
    content: '\eaf9';
}
.iconsax-maximize-21:before {
    content: '\eafa';
}
.iconsax-maximize-circle:before {
    content: '\eafb';
}
.iconsax-medal:before {
    content: '\eafc';
}
.iconsax-medal-star:before {
    content: '\eafd';
}
.iconsax-menu:before {
    content: '\eafe';
}
.iconsax-menu-1:before {
    content: '\eaff';
}
.iconsax-menu-board:before {
    content: '\eb00';
}
.iconsax-message:before {
    content: '\eb01';
}
.iconsax-message-2:before {
    content: '\eb02';
}
.iconsax-message-add:before {
    content: '\eb03';
}
.iconsax-message-add-1:before {
    content: '\eb04';
}
.iconsax-message-circle:before {
    content: '\eb05';
}
.iconsax-message-edit:before {
    content: '\eb06';
}
.iconsax-message-favorite:before {
    content: '\eb07';
}
.iconsax-message-minus:before {
    content: '\eb08';
}
.iconsax-message-notif:before {
    content: '\eb09';
}
.iconsax-message-programming:before {
    content: '\eb0a';
}
.iconsax-message-question:before {
    content: '\eb0b';
}
.iconsax-message-remove:before {
    content: '\eb0c';
}
.iconsax-messages:before {
    content: '\eb0d';
}
.iconsax-messages-1:before {
    content: '\eb0e';
}
.iconsax-messages-2:before {
    content: '\eb0f';
}
.iconsax-messages-3:before {
    content: '\eb10';
}
.iconsax-message-search:before {
    content: '\eb11';
}
.iconsax-message-square:before {
    content: '\eb12';
}
.iconsax-message-text:before {
    content: '\eb13';
}
.iconsax-message-text-1:before {
    content: '\eb14';
}
.iconsax-message-tick:before {
    content: '\eb15';
}
.iconsax-message-time:before {
    content: '\eb16';
}
.iconsax-microphone:before {
    content: '\eb17';
}
.iconsax-microphone-2:before {
    content: '\eb18';
}
.iconsax-microphone-slash:before {
    content: '\eb19';
}
.iconsax-microphone-slash-1:before {
    content: '\eb1a';
}
.iconsax-microscope:before {
    content: '\eb1b';
}
.iconsax-milk:before {
    content: '\eb1c';
}
.iconsax-mini-music-sqaure:before {
    content: '\eb1d';
}
.iconsax-minus:before {
    content: '\eb1e';
}
.iconsax-minus-cirlce:before {
    content: '\eb1f';
}
.iconsax-minus-square:before {
    content: '\eb20';
}
.iconsax-mirror:before {
    content: '\eb21';
}
.iconsax-mirroring-screen:before {
    content: '\eb22';
}
.iconsax-mobile:before {
    content: '\eb23';
}
.iconsax-mobile-programming:before {
    content: '\eb24';
}
.iconsax-money:before {
    content: '\eb25';
}
.iconsax-money-2:before {
    content: '\eb26';
}
.iconsax-money-3:before {
    content: '\eb27';
}
.iconsax-money-4:before {
    content: '\eb28';
}
.iconsax-money-add:before {
    content: '\eb29';
}
.iconsax-money-change:before {
    content: '\eb2a';
}
.iconsax-money-forbidden:before {
    content: '\eb2b';
}
.iconsax-money-recive:before {
    content: '\eb2c';
}
.iconsax-money-remove:before {
    content: '\eb2d';
}
.iconsax-moneys:before {
    content: '\eb2e';
}
.iconsax-money-send:before {
    content: '\eb2f';
}
.iconsax-money-tick:before {
    content: '\eb30';
}
.iconsax-money-time:before {
    content: '\eb31';
}
.iconsax-monitor:before {
    content: '\eb32';
}
.iconsax-monitor-mobbile:before {
    content: '\eb33';
}
.iconsax-monitor-recorder:before {
    content: '\eb34';
}
.iconsax-moon:before {
    content: '\eb35';
}
.iconsax-more:before {
    content: '\eb36';
}
.iconsax-more-2:before {
    content: '\eb37';
}
.iconsax-more-circle:before {
    content: '\eb38';
}
.iconsax-more-square:before {
    content: '\eb39';
}
.iconsax-mouse:before {
    content: '\eb3a';
}
.iconsax-mouse-1:before {
    content: '\eb3b';
}
.iconsax-mouse-circle:before {
    content: '\eb3c';
}
.iconsax-mouse-square:before {
    content: '\eb3d';
}
.iconsax-music:before {
    content: '\eb3e';
}
.iconsax-music-circle:before {
    content: '\eb3f';
}
.iconsax-music-dashboard:before {
    content: '\eb40';
}
.iconsax-music-filter:before {
    content: '\eb41';
}
.iconsax-music-library-2:before {
    content: '\eb42';
}
.iconsax-musicnote:before {
    content: '\eb43';
}
.iconsax-music-play:before {
    content: '\eb44';
}
.iconsax-music-playlist:before {
    content: '\eb45';
}
.iconsax-music-square:before {
    content: '\eb46';
}
.iconsax-music-square-add:before {
    content: '\eb47';
}
.iconsax-music-square-remove:before {
    content: '\eb48';
}
.iconsax-music-square-search:before {
    content: '\eb49';
}
.iconsax-next:before {
    content: '\eb4a';
}
.iconsax-note:before {
    content: '\eb4b';
}
.iconsax-note-1:before {
    content: '\eb4c';
}
.iconsax-note-2:before {
    content: '\eb4d';
}
.iconsax-note-21:before {
    content: '\eb4e';
}
.iconsax-note-add:before {
    content: '\eb4f';
}
.iconsax-note-favorite:before {
    content: '\eb50';
}
.iconsax-note-remove:before {
    content: '\eb51';
}
.iconsax-note-square:before {
    content: '\eb52';
}
.iconsax-note-text:before {
    content: '\eb53';
}
.iconsax-notification:before {
    content: '\eb54';
}
.iconsax-notification-1:before {
    content: '\eb55';
}
.iconsax-notification-bing:before {
    content: '\eb56';
}
.iconsax-notification-circle:before {
    content: '\eb57';
}
.iconsax-notification-favorite:before {
    content: '\eb58';
}
.iconsax-notification-status:before {
    content: '\eb59';
}
.iconsax-omega-circle:before {
    content: '\eb5a';
}
.iconsax-omega-square:before {
    content: '\eb5b';
}
.iconsax-paintbucket:before {
    content: '\eb5c';
}
.iconsax-paperclip:before {
    content: '\eb5d';
}
.iconsax-paperclip-2:before {
    content: '\eb5e';
}
.iconsax-password-check:before {
    content: '\eb5f';
}
.iconsax-path:before {
    content: '\eb60';
}
.iconsax-path-2:before {
    content: '\eb61';
}
.iconsax-path-square:before {
    content: '\eb62';
}
.iconsax-pause:before {
    content: '\eb63';
}
.iconsax-pause-circle:before {
    content: '\eb64';
}
.iconsax-pen-add:before {
    content: '\eb65';
}
.iconsax-pen-close:before {
    content: '\eb66';
}
.iconsax-pen-remove:before {
    content: '\eb67';
}
.iconsax-pen-tool:before {
    content: '\eb68';
}
.iconsax-pen-tool-2:before {
    content: '\eb69';
}
.iconsax-people:before {
    content: '\eb6a';
}
.iconsax-percentage-circle:before {
    content: '\eb6b';
}
.iconsax-percentage-square:before {
    content: '\eb6c';
}
.iconsax-personalcard:before {
    content: '\eb6d';
}
.iconsax-pet:before {
    content: '\eb6e';
}
.iconsax-pharagraphspacing:before {
    content: '\eb6f';
}
.iconsax-picture-frame:before {
    content: '\eb70';
}
.iconsax-play:before {
    content: '\eb71';
}
.iconsax-play-add:before {
    content: '\eb72';
}
.iconsax-play-circle:before {
    content: '\eb73';
}
.iconsax-play-cricle:before {
    content: '\eb74';
}
.iconsax-play-remove:before {
    content: '\eb75';
}
.iconsax-presention-chart:before {
    content: '\eb76';
}
.iconsax-previous:before {
    content: '\eb77';
}
.iconsax-printer:before {
    content: '\eb78';
}
.iconsax-printer-slash:before {
    content: '\eb79';
}
.iconsax-profile-2user:before {
    content: '\eb7a';
}
.iconsax-profile-add:before {
    content: '\eb7b';
}
.iconsax-profile-circle:before {
    content: '\eb7c';
}
.iconsax-profile-delete:before {
    content: '\eb7d';
}
.iconsax-profile-remove:before {
    content: '\eb7e';
}
.iconsax-profile-tick:before {
    content: '\eb7f';
}
.iconsax-programming-arrow:before {
    content: '\eb80';
}
.iconsax-programming-arrows:before {
    content: '\eb81';
}
.iconsax-quote-down:before {
    content: '\eb82';
}
.iconsax-quote-down-circle:before {
    content: '\eb83';
}
.iconsax-quote-down-square:before {
    content: '\eb84';
}
.iconsax-quote-up:before {
    content: '\eb85';
}
.iconsax-quote-up-circle:before {
    content: '\eb86';
}
.iconsax-quote-up-square:before {
    content: '\eb87';
}
.iconsax-radar:before {
    content: '\eb88';
}
.iconsax-radar-1:before {
    content: '\eb89';
}
.iconsax-radar-2:before {
    content: '\eb8a';
}
.iconsax-radio:before {
    content: '\eb8b';
}
.iconsax-ram:before {
    content: '\eb8c';
}
.iconsax-ram-2:before {
    content: '\eb8d';
}
.iconsax-ranking:before {
    content: '\eb8e';
}
.iconsax-ranking-1:before {
    content: '\eb8f';
}
.iconsax-receipt:before {
    content: '\eb90';
}
.iconsax-receipt-1:before {
    content: '\eb91';
}
.iconsax-receipt-2:before {
    content: '\eb92';
}
.iconsax-receipt-2-1:before {
    content: '\eb93';
}
.iconsax-receipt-add:before {
    content: '\eb94';
}
.iconsax-receipt-discount:before {
    content: '\eb95';
}
.iconsax-receipt-disscount:before {
    content: '\eb96';
}
.iconsax-receipt-edit:before {
    content: '\eb97';
}
.iconsax-receipt-item:before {
    content: '\eb98';
}
.iconsax-receipt-minus:before {
    content: '\eb99';
}
.iconsax-receipt-search:before {
    content: '\eb9a';
}
.iconsax-receipt-square:before {
    content: '\eb9b';
}
.iconsax-receipt-text:before {
    content: '\eb9c';
}
.iconsax-received:before {
    content: '\eb9d';
}
.iconsax-receive-square:before {
    content: '\eb9e';
}
.iconsax-receive-square-2:before {
    content: '\eb9f';
}
.iconsax-record:before {
    content: '\eba0';
}
.iconsax-record-circle:before {
    content: '\eba1';
}
.iconsax-recovery-convert:before {
    content: '\eba2';
}
.iconsax-redo:before {
    content: '\eba3';
}
.iconsax-refresh:before {
    content: '\eba4';
}
.iconsax-refresh-2:before {
    content: '\eba5';
}
.iconsax-refresh-circle:before {
    content: '\eba6';
}
.iconsax-refresh-left-square:before {
    content: '\eba7';
}
.iconsax-refresh-right-square:before {
    content: '\eba8';
}
.iconsax-refresh-square-2:before {
    content: '\eba9';
}
.iconsax-repeat:before {
    content: '\ebaa';
}
.iconsax-repeat-circle:before {
    content: '\ebab';
}
.iconsax-repeate-music:before {
    content: '\ebac';
}
.iconsax-repeate-one:before {
    content: '\ebad';
}
.iconsax-reserve:before {
    content: '\ebae';
}
.iconsax-rotate-left:before {
    content: '\ebaf';
}
.iconsax-rotate-left-1:before {
    content: '\ebb0';
}
.iconsax-rotate-right:before {
    content: '\ebb1';
}
.iconsax-rotate-right-1:before {
    content: '\ebb2';
}
.iconsax-route-square:before {
    content: '\ebb3';
}
.iconsax-routing:before {
    content: '\ebb4';
}
.iconsax-routing-2:before {
    content: '\ebb5';
}
.iconsax-row-horizontal:before {
    content: '\ebb6';
}
.iconsax-row-vertical:before {
    content: '\ebb7';
}
.iconsax-rulerpen:before {
    content: '\ebb8';
}
.iconsax-ruler:before {
    content: '\ebb9';
}
.iconsax-safe-home:before {
    content: '\ebba';
}
.iconsax-sagittarius:before {
    content: '\ebbb';
}
.iconsax-save-2:before {
    content: '\ebbc';
}
.iconsax-save-add:before {
    content: '\ebbd';
}
.iconsax-save-minus:before {
    content: '\ebbe';
}
.iconsax-save-remove:before {
    content: '\ebbf';
}
.iconsax-scan:before {
    content: '\ebc0';
}
.iconsax-scan-barcode:before {
    content: '\ebc1';
}
.iconsax-scanner:before {
    content: '\ebc2';
}
.iconsax-scanning:before {
    content: '\ebc3';
}
.iconsax-scissor:before {
    content: '\ebc4';
}
.iconsax-scissor-1:before {
    content: '\ebc5';
}
.iconsax-screenmirroring:before {
    content: '\ebc6';
}
.iconsax-scroll:before {
    content: '\ebc7';
}
.iconsax-search-favorite:before {
    content: '\ebc8';
}
.iconsax-search-favorite-1:before {
    content: '\ebc9';
}
.iconsax-search-normal:before {
    content: '\ebca';
}
.iconsax-search-normal-1:before {
    content: '\ebcb';
}
.iconsax-search-status:before {
    content: '\ebcc';
}
.iconsax-search-status-1:before {
    content: '\ebcd';
}
.iconsax-search-zoom-in:before {
    content: '\ebce';
}
.iconsax-search-zoom-in-1:before {
    content: '\ebcf';
}
.iconsax-search-zoom-out:before {
    content: '\ebd0';
}
.iconsax-search-zoom-out-1:before {
    content: '\ebd1';
}
.iconsax-security:before {
    content: '\ebd2';
}
.iconsax-security-card:before {
    content: '\ebd3';
}
.iconsax-security-safe:before {
    content: '\ebd4';
}
.iconsax-security-time:before {
    content: '\ebd5';
}
.iconsax-security-user:before {
    content: '\ebd6';
}
.iconsax-send:before {
    content: '\ebd7';
}
.iconsax-send-1:before {
    content: '\ebd8';
}
.iconsax-send-2:before {
    content: '\ebd9';
}
.iconsax-send-sqaure-2:before {
    content: '\ebda';
}
.iconsax-send-square:before {
    content: '\ebdb';
}
.iconsax-setting:before {
    content: '\ebdc';
}
.iconsax-setting-2:before {
    content: '\ebdd';
}
.iconsax-setting-3:before {
    content: '\ebde';
}
.iconsax-setting-4:before {
    content: '\ebdf';
}
.iconsax-setting-5:before {
    content: '\ebe0';
}
.iconsax-settings:before {
    content: '\ebe1';
}
.iconsax-shapes:before {
    content: '\ebe2';
}
.iconsax-shapes-1:before {
    content: '\ebe3';
}
.iconsax-share:before {
    content: '\ebe4';
}
.iconsax-shield:before {
    content: '\ebe5';
}
.iconsax-shield-cross:before {
    content: '\ebe6';
}
.iconsax-shield-search:before {
    content: '\ebe7';
}
.iconsax-shield-slash:before {
    content: '\ebe8';
}
.iconsax-shield-tick:before {
    content: '\ebe9';
}
.iconsax-ship:before {
    content: '\ebea';
}
.iconsax-shop:before {
    content: '\ebeb';
}
.iconsax-shop-add:before {
    content: '\ebec';
}
.iconsax-shopping-bag:before {
    content: '\ebed';
}
.iconsax-shopping-cart:before {
    content: '\ebee';
}
.iconsax-shop-remove:before {
    content: '\ebef';
}
.iconsax-shuffle:before {
    content: '\ebf0';
}
.iconsax-sidebar-bottom:before {
    content: '\ebf1';
}
.iconsax-sidebar-left:before {
    content: '\ebf2';
}
.iconsax-sidebar-right:before {
    content: '\ebf3';
}
.iconsax-sidebar-top:before {
    content: '\ebf4';
}
.iconsax-signpost:before {
    content: '\ebf5';
}
.iconsax-simcard:before {
    content: '\ebf6';
}
.iconsax-simcard-1:before {
    content: '\ebf7';
}
.iconsax-simcard-2:before {
    content: '\ebf8';
}
.iconsax-size:before {
    content: '\ebf9';
}
.iconsax-slash:before {
    content: '\ebfa';
}
.iconsax-slider:before {
    content: '\ebfb';
}
.iconsax-slider-horizontal:before {
    content: '\ebfc';
}
.iconsax-slider-horizontal-1:before {
    content: '\ebfd';
}
.iconsax-slider-vertical:before {
    content: '\ebfe';
}
.iconsax-slider-vertical-1:before {
    content: '\ebff';
}
.iconsax-smallcaps:before {
    content: '\ec00';
}
.iconsax-smart-car:before {
    content: '\ec01';
}
.iconsax-smart-home:before {
    content: '\ec02';
}
.iconsax-smileys:before {
    content: '\ec03';
}
.iconsax-sms:before {
    content: '\ec04';
}
.iconsax-sms-edit:before {
    content: '\ec05';
}
.iconsax-sms-notification:before {
    content: '\ec06';
}
.iconsax-sms-search:before {
    content: '\ec07';
}
.iconsax-sms-star:before {
    content: '\ec08';
}
.iconsax-sms-tracking:before {
    content: '\ec09';
}
.iconsax-sort:before {
    content: '\ec0a';
}
.iconsax-sound:before {
    content: '\ec0b';
}
.iconsax-speaker:before {
    content: '\ec0c';
}
.iconsax-speedometer:before {
    content: '\ec0d';
}
.iconsax-star:before {
    content: '\ec0e';
}
.iconsax-star-1:before {
    content: '\ec0f';
}
.iconsax-star-slash:before {
    content: '\ec10';
}
.iconsax-status:before {
    content: '\ec11';
}
.iconsax-status-up:before {
    content: '\ec12';
}
.iconsax-sticker:before {
    content: '\ec13';
}
.iconsax-stickynote:before {
    content: '\ec14';
}
.iconsax-stop:before {
    content: '\ec15';
}
.iconsax-stop-circle:before {
    content: '\ec16';
}
.iconsax-story:before {
    content: '\ec17';
}
.iconsax-strongbox:before {
    content: '\ec18';
}
.iconsax-strongbox-2:before {
    content: '\ec19';
}
.iconsax-subtitle:before {
    content: '\ec1a';
}
.iconsax-sun:before {
    content: '\ec1b';
}
.iconsax-sun-1:before {
    content: '\ec1c';
}
.iconsax-sun-fog:before {
    content: '\ec1d';
}
.iconsax-tag:before {
    content: '\ec1e';
}
.iconsax-tag-2:before {
    content: '\ec1f';
}
.iconsax-tag-cross:before {
    content: '\ec20';
}
.iconsax-tag-right:before {
    content: '\ec21';
}
.iconsax-tag-user:before {
    content: '\ec22';
}
.iconsax-task:before {
    content: '\ec23';
}
.iconsax-task-square:before {
    content: '\ec24';
}
.iconsax-teacher:before {
    content: '\ec25';
}
.iconsax-text:before {
    content: '\ec26';
}
.iconsax-textalign-center:before {
    content: '\ec27';
}
.iconsax-textalign-justifycenter:before {
    content: '\ec28';
}
.iconsax-textalign-justifyleft:before {
    content: '\ec29';
}
.iconsax-textalign-justifyright:before {
    content: '\ec2a';
}
.iconsax-textalign-left:before {
    content: '\ec2b';
}
.iconsax-textalign-right:before {
    content: '\ec2c';
}
.iconsax-text-block:before {
    content: '\ec2d';
}
.iconsax-text-bold:before {
    content: '\ec2e';
}
.iconsax-text-italic:before {
    content: '\ec2f';
}
.iconsax-text-underline:before {
    content: '\ec30';
}
.iconsax-tick-circle:before {
    content: '\ec31';
}
.iconsax-ticket:before {
    content: '\ec32';
}
.iconsax-ticket-2:before {
    content: '\ec33';
}
.iconsax-ticket-discount:before {
    content: '\ec34';
}
.iconsax-ticket-expired:before {
    content: '\ec35';
}
.iconsax-ticket-star:before {
    content: '\ec36';
}
.iconsax-tick-square:before {
    content: '\ec37';
}
.iconsax-timer:before {
    content: '\ec38';
}
.iconsax-timer-1:before {
    content: '\ec39';
}
.iconsax-timer-pause:before {
    content: '\ec3a';
}
.iconsax-timer-start:before {
    content: '\ec3b';
}
.iconsax-toggle-off:before {
    content: '\ec3c';
}
.iconsax-toggle-off-circle:before {
    content: '\ec3d';
}
.iconsax-toggle-on:before {
    content: '\ec3e';
}
.iconsax-toggle-on-circle:before {
    content: '\ec3f';
}
.iconsax-trade:before {
    content: '\ec40';
}
.iconsax-transaction-minus:before {
    content: '\ec41';
}
.iconsax-translate:before {
    content: '\ec42';
}
.iconsax-trash:before {
    content: '\ec43';
}
.iconsax-tree:before {
    content: '\ec44';
}
.iconsax-trend-down:before {
    content: '\ec45';
}
.iconsax-trend-up:before {
    content: '\ec46';
}
.iconsax-triangle:before {
    content: '\ec47';
}
.iconsax-truck:before {
    content: '\ec48';
}
.iconsax-truck-fast:before {
    content: '\ec49';
}
.iconsax-truck-remove:before {
    content: '\ec4a';
}
.iconsax-truck-tick:before {
    content: '\ec4b';
}
.iconsax-truck-time:before {
    content: '\ec4c';
}
.iconsax-trush-square:before {
    content: '\ec4d';
}
.iconsax-undo:before {
    content: '\ec4e';
}
.iconsax-unlimited:before {
    content: '\ec4f';
}
.iconsax-unlock:before {
    content: '\ec50';
}
.iconsax-user:before {
    content: '\ec51';
}
.iconsax-user-add:before {
    content: '\ec52';
}
.iconsax-user-cirlce-add:before {
    content: '\ec53';
}
.iconsax-user-edit:before {
    content: '\ec54';
}
.iconsax-user-minus:before {
    content: '\ec55';
}
.iconsax-user-octagon:before {
    content: '\ec56';
}
.iconsax-user-remove:before {
    content: '\ec57';
}
.iconsax-user-search:before {
    content: '\ec58';
}
.iconsax-user-square:before {
    content: '\ec59';
}
.iconsax-user-tag:before {
    content: '\ec5a';
}
.iconsax-user-tick:before {
    content: '\ec5b';
}
.iconsax-verify:before {
    content: '\ec5c';
}
.iconsax-video:before {
    content: '\ec5d';
}
.iconsax-video-add:before {
    content: '\ec5e';
}
.iconsax-video-circle:before {
    content: '\ec5f';
}
.iconsax-video-horizontal:before {
    content: '\ec60';
}
.iconsax-video-octagon:before {
    content: '\ec61';
}
.iconsax-video-play:before {
    content: '\ec62';
}
.iconsax-video-remove:before {
    content: '\ec63';
}
.iconsax-video-slash:before {
    content: '\ec64';
}
.iconsax-video-square:before {
    content: '\ec65';
}
.iconsax-video-tick:before {
    content: '\ec66';
}
.iconsax-video-time:before {
    content: '\ec67';
}
.iconsax-video-vertical:before {
    content: '\ec68';
}
.iconsax-voice-cricle:before {
    content: '\ec69';
}
.iconsax-voice-square:before {
    content: '\ec6a';
}
.iconsax-volume-cross:before {
    content: '\ec6b';
}
.iconsax-volume-high:before {
    content: '\ec6c';
}
.iconsax-volume-low:before {
    content: '\ec6d';
}
.iconsax-volume-low-1:before {
    content: '\ec6e';
}
.iconsax-volume-mute:before {
    content: '\ec6f';
}
.iconsax-volume-slash:before {
    content: '\ec70';
}
.iconsax-volume-up:before {
    content: '\ec71';
}
.iconsax-wallet:before {
    content: '\ec72';
}
.iconsax-wallet-1:before {
    content: '\ec73';
}
.iconsax-wallet-2:before {
    content: '\ec74';
}
.iconsax-wallet-3:before {
    content: '\ec75';
}
.iconsax-wallet-add:before {
    content: '\ec76';
}
.iconsax-wallet-add-1:before {
    content: '\ec77';
}
.iconsax-wallet-check:before {
    content: '\ec78';
}
.iconsax-wallet-minus:before {
    content: '\ec79';
}
.iconsax-wallet-money:before {
    content: '\ec7a';
}
.iconsax-wallet-remove:before {
    content: '\ec7b';
}
.iconsax-wallet-search:before {
    content: '\ec7c';
}
.iconsax-warning-2:before {
    content: '\ec7d';
}
.iconsax-watch:before {
    content: '\ec7e';
}
.iconsax-watch-status:before {
    content: '\ec7f';
}
.iconsax-weight:before {
    content: '\ec80';
}
.iconsax-weight-1:before {
    content: '\ec81';
}
.iconsax-wifi:before {
    content: '\ec82';
}
.iconsax-wifi-square:before {
    content: '\ec83';
}
.iconsax-wind:before {
    content: '\ec84';
}
.iconsax-wind-2:before {
    content: '\ec85';
}
.iconsax-woman:before {
    content: '\ec86';
}
