*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 1rem;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    @include reset;
}

body {
    display: flex;
    min-height: 100vh;
    background-color: var(--color__slate--75);
    text-rendering: optimizeSpeed;
    font-family: $font__body;
    font-size: 1rem;

    /* -------------------------------------------------------------------------- */
    /*                           MOBILE SIDEBAR OVERLAY                           */
    /* -------------------------------------------------------------------------- */

    .overlay {
        position: fixed;
        opacity: 0;
    }

    &.hidden {
        .overlay {
            inset: 0;
            background-color: rgba($color__black, 0.9);
            z-index: 8888;
            opacity: 1;
            transition: opacity 0.3s ease;

            @include min-size('lg') {
                inset: auto;
            }
        }
    }
}

img,
picture {
    display: block;
}

ul,
ol {
    @include resetlist;

    li {
        @include reset;
    }
}

input,
button,
textarea,
select {
    all: unset;
    font: inherit;
    box-sizing: border-box;
}

a {
    display: block;
    text-decoration: none;
}

button {
    cursor: pointer;
}

pre {
    margin: 0;
}

/* -------------------------------------------------------------------------- */
/*                                  SCROLLBAR                                 */
/* -------------------------------------------------------------------------- */

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: var(--color__slate--200);
    border: 0.375rem solid transparent;
    background-clip: content-box;
    border-radius: 9999px;
}

@media (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto !important;
    }

    *,
    *:before,
    *:after {
        transition-timing-function: step-start !important;
        animation-delay: 0s !important;
        animation-timing-function: step-start !important;
        animation-iteration-count: 1 !important;
    }
}
