/* -------------------------------------------------------------------------- */
/*                            PRIMARY COLOR SHADES                            */
/* -------------------------------------------------------------------------- */

$color__primary: #fffdf5;
$color__primary--50: #fffbec;
$color__primary--100: #e8f7f2;
$color__primary--200: #fff4cf;
$color__primary--300: #ffedb2;
$color__primary--400: #ffe079;
$color__primary--500: #ffd23f;
$color__primary--600: #e6bd39;
$color__primary--700: #bf9e2f;
$color__primary--800: #997e26;
$color__primary--900: #7d671f;

/* -------------------------------------------------------------------------- */
/*                            MONOCHROMATIC COLORS                            */
/* -------------------------------------------------------------------------- */

$color__black: #1a1a1a;
$color__white: #fafafa;
$color__black--solid: #000000;
$color__white--solid: #ffffff;

/* -------------------------------------------------------------------------- */
/*                              GRAY COLOR SHADES                             */
/* -------------------------------------------------------------------------- */

$color__gray--50: #fdfdfd;
$color__gray--75: #eeeeee;
$color__gray--100: #e0e0e0;
$color__gray--200: #c4c4c4;
$color__gray--300: #a9a9a9;
$color__gray--400: #8f8f8f;
$color__gray--500: #757575;
$color__gray--600: #5c5c5c;
$color__gray--700: #454545;
$color__gray--800: #2f2f2f;
$color__gray--850: #242424;
$color__gray--900: #1a1a1a;

/* -------------------------------------------------------------------------- */
/*                             SLATE COLOR SHADES                             */
/* -------------------------------------------------------------------------- */

$color__slate--50: #fdfdfd;
$color__slate--75: #eef0f2;
$color__slate--100: #dee2e6;
$color__slate--200: #c0c7cf;
$color__slate--300: #a1abb8;
$color__slate--400: #8390a2;
$color__slate--500: #64748b;
$color__slate--600: #525e6f;
$color__slate--700: #3f4753;
$color__slate--800: #2d3137;
$color__slate--850: #242629;
$color__slate--900: #1a1a1a;

/* -------------------------------------------------------------------------- */
/*                              BLUE COLOR SHADES                             */
/* -------------------------------------------------------------------------- */

$color__blue--50: #f4f7fd;
$color__blue--100: #eaeffb;
$color__blue--200: #cad7f4;
$color__blue--300: #aabfee;
$color__blue--400: #6b8ee1;
$color__blue--500: #2b5ed4;
$color__blue--600: #2755bf;
$color__blue--700: #20479f;
$color__blue--800: #1a387f;
$color__blue--900: #152e68;

/* -------------------------------------------------------------------------- */
/*                             GREEN COLOR SHADES                             */
/* -------------------------------------------------------------------------- */

$color__green--50: #e9fcf8;
$color__green--100: #cef8f0;
$color__green--200: #a1f2e2;
$color__green--300: #70ebd3;
$color__green--400: #43e5c5;
$color__green--500: #1dd3b0;
$color__green--600: #17aa8d;
$color__green--700: #117e68;
$color__green--800: #0c5546;
$color__green--900: #062821;

/* -------------------------------------------------------------------------- */
/*                             YELLOW COLOR SHADES                            */
/* -------------------------------------------------------------------------- */

$color__yellow--50: #fef8eb;
$color__yellow--100: #fdeed3;
$color__yellow--200: #fbe0ac;
$color__yellow--300: #facf80;
$color__yellow--400: #f8c059;
$color__yellow--500: #f6ae2d;
$color__yellow--600: #e1960a;
$color__yellow--700: #a66f07;
$color__yellow--800: #704b05;
$color__yellow--900: #362402;

/* -------------------------------------------------------------------------- */
/*                              RED COLOR SHADES                              */
/* -------------------------------------------------------------------------- */

$color__red--50: #fef1f2;
$color__red--100: #fddee0;
$color__red--200: #fbbcc1;
$color__red--300: #f89ba2;
$color__red--400: #f67e88;
$color__red--500: #f45b69;
$color__red--600: #f01e30;
$color__red--700: #ba0d1b;
$color__red--800: #7c0812;
$color__red--900: #3e0409;
