// Reset padding and margin
@mixin reset {
    padding: 0;
    margin: 0;
}

// Reset list
@mixin resetlist {
    list-style-type: none;
    @include reset;
}

// Show scrollbar on hover
@mixin scrollbar-hover {
    &:hover {
        &::-webkit-scrollbar {
            width: 1rem;
        }
    }
}
