$radius--md: 0.5rem;
$content-max-w: 96rem;
$shadow--md: rgba($color__black, 0.1) 0px 10px 15px -3px,
    rgba($color__black, 0.05) 0px 4px 6px -2px;
$shadow--xs: rgba($color__black, 0.05) 0px 1px 2px 0px; ;
