.app {
    display: flex;
    flex-direction: column;
    flex: 1;
    transition: margin-left 0.3s ease;
    width: 100%;
    background-color: var(--color__slate--75);

    @include min-size('lg') {
        margin-left: 16rem;

        &.stretched {
            margin-left: 5rem;

            .app__header {
                left: 5rem;
            }
        }
    }

    &__container {
        margin-top: 4.8rem;
        background-color: var(--color__slate--75);
        flex: 1;
    }
}

.section {
    padding: 0 1.5rem;

    @include content-constraint;
}

.component {
    color: var(--color__black);

    &__header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1.5rem;
    }

    &__title {
        font-family: $font__primary;
        font-weight: 700;
    }

    &__code {
        display: none;
    }
}

@import 'app/sidebar';
@import 'app/header';
@import 'app/footer';
