.footer {
    width: 100%;
    text-align: right;
    padding: 1.5rem;
    font-weight: 600;
    color: var(--color__slate--600);
    @include content-constraint;

    &__link {
        display: inline-block;
        color: var(--color__blue--500);
    }
}
