.header {
    position: relative;
    border-bottom: 1px solid var(--color__slate--100);

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1.5rem;
        width: 100%;
        max-width: $content-max-w;
        margin-left: auto;
        margin-right: auto;
    }

    &__sidebar-btn {
        color: var(--color__black);
        line-height: 0;
        padding: 1.75rem 1rem;

        @include min-size('sm') {
            padding: 1.75rem 1.75rem;
        }

        @include min-size('lg') {
            display: none;
        }
    }

    &__nav {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex: 1;
        line-height: 0;
        padding: 1rem 1rem 1rem 0;

        @include min-size('sm') {
            padding: 1rem 1.5rem 1rem 1.5rem;
        }
    }

    &__search {
        display: flex;
        align-items: center;

        &__form {
            display: flex;
            justify-content: space-between;
            gap: 1rem;
            visibility: hidden;
            opacity: 0;
            position: absolute;
            right: 0;
            left: 0;
            bottom: -5rem;
            padding: 1rem;
            border-top: 1px solid;
            border-bottom: 1px solid;
            border-color: var(--color__slate--100);
            transition: visibility 0.3s ease, opacity 0.3s ease,
                transform 0.3s ease;
            transform: translateY(12px);
            background-color: var(--color__white);

            @include min-size('lg') {
                visibility: visible;
                opacity: 1;
                position: relative;
                inset: auto;
                border: none;
                padding: 0;
                transform: translateY(0);
                background-color: transparent;
            }

            &.visible {
                visibility: visible;
                opacity: 1;
                transform: translateY(0);
            }

            .form-input {
                width: 20rem;
                flex: 1;
            }
        }

        @include min-size('lg') {
            flex: 1;
        }

        &__close-btn {
            font-size: 1.5rem;
            font-weight: 100;
            color: var(--color__slate--400);

            @include min-size('lg') {
                display: none;
            }

            i {
                display: block;
                font-size: 2rem;
                font-weight: 400;
            }
        }

        &__btn {
            color: var(--color__black);
            padding: 0.75rem;
            line-height: 0;

            @include min-size('lg') {
                display: none;
            }
        }
    }

    &__menu {
        display: flex;
        justify-content: flex-end;

        &__btn {
            position: relative;
            color: var(--color__black);
            line-height: 0;
            padding: 0.75rem;
        }

        &__user-btn {
            display: inline-flex;
            padding: 0.3125rem;
            margin-left: 0.5rem;
            position: relative;

            &:focus .header__menu__user-photo {
                outline: 2px solid var(--color__blue--500);
            }
        }

        &__user-photo {
            width: 2rem;
            height: 2rem;
            border-radius: 100%;
            overflow: hidden;
        }

        &__badge {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 0.75rem;
            font-weight: 800;
            color: $color__white;
            position: absolute;
            right: 0.3em;
            top: 0.3em;
            padding: 0.7em;
            width: 1.2em;
            height: 1.2em;
            border-radius: 100%;

            &--danger {
                @extend .header__menu__badge;
                background-color: $color__red--600;
            }

            &--success {
                @extend .header__menu__badge;
                background-color: $color__green--600;
            }

            &--warning {
                @extend .header__menu__badge;
                background-color: $color__yellow--600;
            }
        }

        &__user-badge {
            position: absolute;
            right: 0.3em;
            bottom: 0.3em;
            width: 0.6em;
            height: 0.6em;
            border-radius: 100%;

            &--success {
                @extend .header__menu__user-badge;
                background-color: var(--color__green--500);
            }

            &--warning {
                @extend .header__menu__user-badge;
                background-color: var(--color__yellow--500);
            }

            &--danger {
                @extend .header__menu__user-badge;
                background-color: var(--color__red--500);
            }
        }
    }

    // Theme Button
    .theme-btn {
        &--light {
            display: none;
            color: $color__primary--400;
        }
    }

    // Fullscreen Button
    .fullscreen-btn {
        display: none;

        @include min-size('md') {
            display: initial;
        }
    }
}

/* -------------------------------------------------------------------------- */
/*                                 DARK THEME                                 */
/* -------------------------------------------------------------------------- */

.theme--dark .header {
    .theme-btn {
        &--light {
            display: initial;
        }

        &--dark {
            display: none;
        }
    }
}
